<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="OrchardCoreLombiqDebug" value="https://ci.lombiq.com/guestAuth/app/nuget/feed/OrchardCore_LombiqFork/Debug/v3/index.json" />
    <add key="OrchardCoreLombiqRelease" value="https://ci.lombiq.com/guestAuth/app/nuget/feed/OrchardCore_LombiqFork/Release/v3/index.json" />
  </packageSources>
</configuration>
